<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <service
            android:name="app.capgo.capacitor.intercom.IntercomMessagingService"
            android:exported="false">
            <intent-filter android:priority="100">
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="app.capgo.capacitor.intercom.IntercomInitProvider"
            android:authorities="${applicationId}.intercom-init"
            android:exported="false"
            android:initOrder="100" />
    </application>
</manifest>
